
@import url(http://fonts.googleapis.com/css?family=Lato);


body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #fff;
	text-align: center;
}

h1 {
	margin-bottom: 100px;
}
