
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Ruda);

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #fff;
	text-align: center;
}

h1 {

	margin-bottom: 100px;
}

p {
	margin-bottom: 100px;
	font-size: 40px;
}


